.Comment{
  /* min-height: 100vh; */
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Comment > p{
  margin: 12px 0;
}

.commentText{
  max-width: 900px;
}

.arrow{
  width: 80px;
}