.hero{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.left{
  max-width: 540px;
  padding-right: 90px;
  box-sizing: border-box;
}

.right{
  max-width: 540px;
  width: 100%;
  box-sizing: border-box;
}

.elisa{
  width: 600px;
}

.textHero{
  margin: 0;
}