.hero{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.left{
  width: 50%;
  padding-right: 90px;
  box-sizing: border-box;
  margin-bottom: 120px;
}

.right{
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.elisa{
  width: 100%;
}

.textHero{
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .hero{
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }

  .elisa{
    max-width: 500px;
  }

  .right{
    margin-top: 60px;
  }

  .left{
    padding-right: 0;
    margin-bottom: 0;
  }

  .left,
  .right{
    width: 100%;
  }
}