.header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 12%;
  position: fixed;
    right: 0;
    left: 0;
}

.headerFixed{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px 12%;
  position: fixed;
  right: 0;
  left: 0;
  background-color: white;
}

.header,
.headerFixed{
  transition: .3s;
}

.left{
  display: flex;
  align-items: center;
}

.right{
  margin-left: auto;
}

.active{
  background-color: var(--color-secundary);
}