.header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1132px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  position: fixed;
    right: 0;
    left: 0;
}

.left{
  display: flex;
  align-items: center;
}

.right{
  margin-left: auto;
}