.section{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

.photo{
  width: 80px;
}

.section > p{
  margin: 0;
}

.section > .quote{
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.author{
  opacity: .5;
}

@media only screen and (max-width: 1024px) {
  .section {
    padding: 24px;
  }

  .section > .quote {
    text-align: start;
    font-size: 16px;
    line-height: 25.89px;
  }

  .section > .author{
    font-size: 16px;
    line-height: 25.89px;
  }

}
