.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .footer{
    flex-direction: column-reverse;
  }

  .footer > .logo{
    display: none;
  }

  .footer > p{
    text-align: center;
  }

  .footerText{
    display: flex;
    flex-direction: column;
  }
}
