@import "./stylesheet/colors.css";
@import "./stylesheet/typographies.css";

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(208,161,250);
  background: linear-gradient(151deg, rgba(208,161,250,1) 42%, rgba(187,187,187,1) 100%);
}

.App{
  min-height: 100vh;
  max-width: 1132px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}