.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.link{
  text-decoration: none;
  color: var(--black);
  opacity: .5;
  text-transform: uppercase;
  padding: 0;
  background-color: transparent;
  border: none;
}

.active{
  opacity: 1;
}